body{
  margin:0px
}

/* welcome-section */

#welcome-section{
  display:flex;
  flex-direction:column;
  background-color:#404040;
  width:100%;
  height:100vh;
  align-items:center;
  justify-content:center;
}
#welcome-section >h1{
  font-size:40px;
  color:#DEDFDF;
  padding:10px;
  text-align:center;
  margin-bottom:0px;
  padding-bottom:0px;
}
#welcome-section > p {
  font-size:25px;
  color:grey;
  text-align:center;
  margin-top:0px
}

/* projects */

#projects{
  display:flex;
  flex-direction:row;
  background-color:gray;
  weidth:100%;
  height:100vh;
}
.project-tile{
  display:flex;
  flex-direction:column;
  background-color:gray;
  padding-top:60px;
}
.project-tile img{
  width:250px;
  height:200px;
  padding:10px;
  margin-bottom:0px;
}
.project-tile p{
  text-align:center;
  color:white;
  font-size:21px;
  margin-top:0px
}

/* navbar-section */

#navbar{
  background-color:teal;
  position:fixed;
  width:100%;
  height:60px;
}
#navbar > ul{
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  margin:0px;
  padding:10px;
}
#navbar > ul > li{
  padding:5px;
  list-style-type:none;
  font-size:20px;
}

#navbar > ul > li> a{
  text-decoration:none;
  color:white;
}

/* contact */

#contact{
  display:flex;
  flex-direction:column;
  margin:0px;
  background-color:yellow;
  weidth:100%;
  height:100vh;
  justify-content:center;
  
}

#contact > div{
	text-align:center;
	font-size:40px;
}
#contact > ul{
	display:flex;
	justify-content:center;
}
#contact > ul > li{
	padding:10px;
	font-size:25px;
	list-style-type:none;
}
#contact > ul > li img{
	width:20px;
	height:20px;
}

/* media-query part */

@media only screen and (max-width: 600px) {
  
  #projects{
  flex-wrap:wrap;
}

}
